html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  font-family: 'Merriweather', serif;
  color: #fff;
  background-color: #d05c2e;
}

ul {
  list-style-type: none;
}

li a {
  text-decoration: none;
}
