html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  font-family: 'Merriweather', serif;
  line-height: 1.5;
  text-align: center;
  color: #fff;
  background-color: #d05c2e;
}

h1 {
  text-align:center;
}

.img-1 {
  float: left;
  width: 40px;
  overflow: hidden;
}

.img-2 {
  float: right;
  width: 40px;
  overflow: hidden;
}

ul {
  list-style-type: none;
}

li a {
  text-decoration: none;
  font-size: 1.125rem;
}
